In [1]:
x=5
x

In [4]:
x,y=(1,2)

In [5]:
x1=5
type(x1)

In [8]:
x2=4.75
type(x2)

In [10]:
int(x2)

4

In [11]:
float(5)

5.0

In [12]:
x2=True
type(x2)

In [14]:
"George"

'George'

In [15]:
print('George')

George

In [18]:
print('Holidays!'[6])

y

In [20]:
def five(x):
    x=5
    return(x)
print (five(3))

5

In [22]:
True or False or False and True

True

In [25]:
x=1
if x>3:
    print('Case 1')
else:
    print('Case 2')

Case 2

In [26]:
def compare_to_five(y):
    if y>5:
        return "Greater"
    elif y<5:
        return "Less"
    else:
        return "Equal"
print(compare_to_five(10))

In [29]:
def simples():
    print ('My first function')
simples()

My first function

In [30]:
def plus_ten(a):
    return a+10
plus_ten(2)

12

In [31]:
def plus_ten(a):
    result=a+10
    print('Outcome')
    return result

In [32]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage (w_hours)+50
wage(8),with_bonus(8)

(200, 250)

In [34]:
def add_10(m):
    if m>=100:
        m=m+10
        return m
    else:
        return "Save more"
add_10(110)

120

In [36]:
def subtract_bc(a,b,c):
    result=a-b*c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

In [37]:
round(3.5555,2)

3.56

In [38]:
round(3.555555,3)

3.556

In [1]:
#list
Participants=['Leila','Gregory', 'Cate']
Participants[-2]

'Gregory'

In [3]:
Participants.append('Dwayne')
Participants

['Leila', 'Gregory', 'Cate', 'Dwayne', 'Dwayne']

In [5]:
Participants.extend(['Catherine','George'])
Participants

['Leila', 'Gregory', 'Cate', 'Dwayne', 'Dwayne', 'Catherine', 'George']

In [6]:
Participants.index('Cate')

2

In [7]:
Newcomers=['Joshua','Brittany']
Bigger_List=[Participants,Newcomers]
Bigger_List

[['Leila', 'Gregory', 'Cate', 'Dwayne', 'Dwayne', 'Catherine', 'George'],
 ['Joshua', 'Brittany']]

In [8]:
Participants.sort()

In [9]:
Participants

['Cate', 'Catherine', 'Dwayne', 'Dwayne', 'George', 'Gregory', 'Leila']

In [10]:
del(Participants[2])

In [11]:
Participants

['Cate', 'Catherine', 'Dwayne', 'George', 'Gregory', 'Leila']

In [12]:
#TUPLE
x=(40,41,42)
x

(40, 41, 42)

In [13]:
(age,years_of_school)='30,17'.split(',')
print(age)
print(years_of_school)

30
17

In [14]:
#DICTIONARIES
dict={'k1':"cat",'k2':"dog",'k3':"mouse",'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [16]:
dict['k1']

'cat'

In [17]:
dict['k5']='parrot'

In [18]:
dep_workers={'dep_1':'Peter','dep_2':['Jenifer','Michael','Tommy']}
dep_workers['dep_2']

['Jenifer', 'Michael', 'Tommy']

In [20]:
dep_workers={}
dep_workers['dep_1']='Peter'
dep_workers['dep_2']='Jenifer','Michael','Tommy'

print(dep_workers)

{'dep_1': 'Peter', 'dep_2': ('Jenifer', 'Michael', 'Tommy')}

In [2]:
#FOR LOOPS
even=[0,2,4,6,8,10,12,14,16,18,20]
for n in even:
  #print(n)
  print(n,end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [5]:
#WHILE LOOPS
x=0
while x <= 20:
 print (x,end=" ")
 x=x+2

0 2 4 6 8 10 12 14 16 18 20

In [6]:
#LIST WITH RANGE() function
#range (start,stop,step)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for x in range (20):
 if x % 2 ==0:
  print(x,end = " " )
 else:
  print("Odd", end=" ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [9]:
x=[0,1,2]
for item in range (len(x)):
 print(x[item],end=" ")

0 1 2

In [14]:
def count(numbers):
 total=0
 for x in numbers:
   if x<20:
     total = total+1
 return total

list_1=[1,3,7,15,23,43,56,98]
count(list_1)

4

In [15]:
prices={"box_of_spaghetti":4,"lasagna":5,"hamburguer":2}
quantity={"box_of_spaghetti":6,"lasagna":10,"hamburguer":0}

money_spent=0
for i in prices:
  money_spent=money_spent + (prices[i]*quantity[i])

print(money_spent)

74